@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: 'Courier New', Courier, monospace !important;
}

h1{
  font-weight: bold;
  font-size: 1.5rem;
}
h2{
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 1rem;
}
p{
  margin-bottom: 1rem;
}

header{
      font-family: proxima-nova, sans-serif;
      a{
font-size: 16px;
text-transform: uppercase;
      }
}